###################
# Markdown #
###################

snippet i "italics"
*${1:${VISUAL}}*$0
endsnippet

snippet b "bold"
**${1:${VISUAL}}**$0
endsnippet

snippet c "Inline Code" i
\`${1:${VISUAL}}\`$0
endsnippet

snippet cb "Codeblock" b
\`\`\`$1
${2:${VISUAL}}
\`\`\`
$0
endsnippet

snippet End "blog status"
<center>⁂</center>

### status

Cat: $1

Writing: $2

Hands: $3
endsnippet

# vim:ft=snippets:
